NODE_ENV=development

PORT=PORT-HERE

DB_HOST=DATABASE-HOST-HERE
DB_NAME=DATABASE-NAME-HERE
DB_PORT=DATABASE-PORT-HERE
DB_USER=DATABASE-USER-HERE
DB_PASSWORD=DATABASE-PASSWORD-HERE
DB_URL=DATABASE-URL-HERE

JWT_SECRET=JWT-SECRET-KEY-HERE
